:root {
	/* ---- DEFAULT COLORS ---- */
	/* Base Colors */
	--text-color: #000;
	--bg-color: #fff;
	--page-section-title: #2563eb; /* blue-600 */
	--article-h1: #475569; /* slate-600 */
	--article-h2: #475569; /* slate-600 */
	--article-h3: #475569; /* slate-600 */
	--ul-h4: #2563eb; /* blue-600 */
	--ul-li: #374151; /* gray-700 */
	--ul-li-span: #475569; /* slate-600 */
	/* Elements */
	--divider: #F97316; /* orange-500 */
	--hyperlink: #2563eb; /* blue-600 */
	--hyperlink-hover: #1e40af; /* blue-800 */
	--quote: #f97316; /* orange-500 */
	--bookmark: #2563eb; /* blue-600 */
	--bookmark-popup-bg: #ffffff; /* white */
	--bookmark-popup-border: #dc2626; /* red-600 */
	--bookmark-popup-text: #dc2626; /* red-600 */
	/* Home Page */
	--home-page-text: #111827; /* gray-900 */
	--hero-bg: #f9fafb; /* base-50 */
	--home-section-bg: #dbeafe; /* base-100 */
	--home-section-btn-bg: #60a5fa; /* blue-400 */
	--home-section-btn-hover-bg: #1d4ed8; /* blue-700 */
	--home-section-btn-text: #000000; /* black */
	/* Navigation */
	--top-nav-bg: #e2e8f0; /* base-300 */
	--top-nav-profile-menu-bg: hsl(var(--b1) / 1);
	--left-nav-bg-color: #f3f4f6; /* base-200 */
	--left-nav-main-menu-text: #111827; /* gray-900 */
	--left-nav-main-menu-text-hover: #2563eb; /* blue-600 */
	--left-nav-header-text: #0f172a; /* slate-900 */
	--left-nav-header-text-hover: #60a5fa; /* blue-400 */
	--left-nav-menu-left-border: #cbd5e1; /* slate-300 */
	--left-nav-menu-text: #334155; /* slate-700 */
	--left-nav-menu-text-hover: #1e293b; /* slate-900 */
	--left-nav-menu-vertical-bars: transparent; /* transparent */
	--left-nav-menu-vertical-bars-hover: #1e293b; /* slate-800 */
	--left-nav-more-menu-text: #334155; /* slate-700 */
	--left-nav-more-menu-text-hover: #1e293b; /* slate-900 */
	--left-nav-more-menu-border: transparent; /* transparent */
	--left-nav-more-menu-border-hover: #1e293b; /* slate-800 */
	/* Navbar Drawer */
	--nav-drawer-bg: #f3f4f6; /* base-200 */
	--nav-drawer-main-menu-text: #111827; /* gray-900 */
	--nav-drawer-section-title: #1e293b; /* slate-900 */
	--nav-drawer-section-link: #2563eb; /* blue-600 */
	--nav-drawer-practice-main-title: #0f172a; /* slate-900 */
	--nav-drawer-practice-title: #0f172a; /* slate-900 */
	--nav-drawer-practice-link: #2563eb; /* blue-600 */
	/* Theme Slider */
	--slider-bg-color: #ccc;
	--theme-slider-thumb-color: white;
	/* Prev/Next */
	--prev-next-bg: #ffffff; /* white */
	--prev-next-bg-hover: #f3f4f6; /* gray-100 */
	--prev-next-border: #d1d5db; /* gray-300 */
	--prev-next-border-hover: #f3f4f6; /* gray-100 */
	--prev-next-text: #6b7280; /* gray-500 */
	--prev-next-text-hover: #374151; /* gray-700 */
	/* Search */
	--search-bg: transparent; /* gray-200 */
	--search-text: #1f2937; /* gray-800 */
	--search-placeholder: #9ca3af; /* gray-400 */
	--search-border-color: #d6d3d1; /* stone-300 */
	/* Learn Section Home Pages */
	--learn-home-page-header-bg: #f3f4f6; /* base-200 */
	--learn-home-page-header-btn-bg: #60a5fa; /* blue-400 */
	--learn-home-page-header-btn-hover-bg: #3b82f6; /* blue-500 */
	--learn-home-page-header-btn-text: #ffffff; /* white */
	--learn-home-page-header-btn-text-hover: #ffffff; /* white */
	--learn-home-page-section-bg: #f3f4f6; /* base-200 */
	--learn-home-page-section-title: #111827; /* gray-900 */
	--learn-home-page-section-title-hover: #2563eb; /* blue-600 */
	/* Content Page Menu Boxes */
	--page-menu-box-bg: #f3f4f6; /* base-200 */
	--page-menu-link-bg-hover: #d1d5db; /* gray-300 */
	--page-menu-icons:
	/* Subscribe Section */
	--sub-input-border: #94a3b8; /* slate-400 */
	--subscribe-btn-bg: #60a5fa; /* blue-400 */
	--subscribe-btn-hover-bg: #3b82f6; /* blue-500 */
	--subscribe-btn-outline: transparent; /* transparent */
	--subscribe-btn-outline-hover: #60a5fa; /* blue-400 */
	--subscribe-btn-text: #ffffff; /* white */
	--subscribe-btn-text-hover: #ffffff; /* white */
	/* LHTPC Section */
	--image-cover: transparent; /* transparent */
	/* Craps Home Page */
	--craps-home-page-title: #2563eb; /* blue-600 */
	--craps-home-page-title-two: #475569; /* slate-600 */
	--craps-home-page-section-title: #3b82f6; /* blue-500 */
	--craps-home-page-section-tag: #475569; /* slate-600 */
	--craps-home-page-section-link: #2563eb; /* blue-600 */
	--craps-home-page-section-link-hover: #1d4ed8; /* blue-700 */
	--craps-home-page-sub-section-bg: transparent; /* transparent */
	--craps-home-page-sub-section-bg-hover: #e5e7eb; /* base-300 */
	--craps-home-page-sub-section-text: #475569; /* slate-600 */
	--craps-home-page-sub-section-link: #2563eb; /* blue-600 */
	/* Content Tables */
	--content-table-bg: #f3f4f6; /* base-200 */
	--content-table-border: #d1d5db; /* gray-300 */
	--content-table-text: #475569; /* slate-600 */
	/* Calculator Styles */
	--calculator-title: #374151; /* gray-700 */
	--calc-input-label: #475569; /* slate-600 */
	--calc-input-bg: #ffffff; /* white */
	--calc-input-hover-bg: #f3f4f6; /* gray-100 */
	--calc-input-text: #000000; /* black */
	--calc-input-border: #d1d5db; /* gray-300 */
	--calc-input-placeholder: #9ca3af; /* gray-400 */
	--calc-input-focus-border: #2563eb; /* blue-600 */
	--calculator-btn-bg: #3b82f6; /* blue-500 */
	--calculator-btn-hover-bg: #1d4ed8; /* blue-700 */
	--calculator-btn-text: white; /* white */
	--calculator-btn-text-hover: white; /* white */
	--calculator-error-text: #B91C1C; /* red-700 */
	--calculator-success-text: #15803D; /* green-700 */
	--calculator-roll-btn-bg: #60a5fa; /* blue-400 */
	--calculator-roll-btn-hover-bg: #3b82f6; /* blue-500 */
	--calculator-roll-btn-active-bg: #3b82f6; /* blue-500 */
	--calculator-roll-btn-text: #ffffff; /* white */
	--calculator-roll-btn-text-hover: #ffffff; /* white */
	--calculator-roll-btn-text-active: #ffffff; /* white */
	--calculator-roll-btn-border: #60a5fa; /* blue-400 */
	--calculator-roll-btn-border-hover: #3b82f6; /* blue-500 */
	--calculator-roll-btn-border-active: #3b82f6; /* blue-500 */
	/* Site Home Pages Heading Styles */
	--home-page-heading-bg: #e2e8f0; /* base-300 */
	--home-page-heading-text: #111827; /* gray-900 */
	--home-page-body-bg-1: #E5E7EB; /* gray-200 */
	--home-page-body-bg-2: #f3f4f6; /* gray-100 */
	--home-page-body-bg-3: #d1d5db; /* gray-300 */
	/* Practice Home Page */
	--practice-view-btn-bg: #60a5fa; /* blue-400 */
	--practice-view-btn-hover-bg: #1d4ed8; /* blue-700 */
	--practice-view-btn-text: #ffffff; /* white */
	--practice-view-btn-text-hover: #ffffff; /* white */
	--practice-view-btn-border: #60a5fa; /* blue-400 */
	--practice-view-btn-border-hover: #3b82f6; /* blue-500 */
	--practice-dwnld-btn-bg: #60a5fa; /* blue-400 */
	--practice-dwnld-btn-hover-bg: #3b82f6; /* blue-500 */
	--practice-dwnld-btn-text: #ffffff; /* white */
	--practice-dwnld-btn-text-hover: #ffffff; /* white */
	--practice-dwnld-btn-border: #60a5fa; /* blue-400 */
	--practice-dwnld-btn-border-hover: #3b82f6; /* blue-500 */
	/* Practice Pages */
	--practice-page-left-right-btn-bg: #000000; /* black */
	--practice-page-left-right-btn-hover-bg: #f3f4f6; /* gray-100 */
	--practice-page-left-right-btn-text: #ffffff; /* white */
	--practice-page-left-right-btn-text-hover: #374151; /* slate-700 */
	--practice-page-left-right-btn-border: black; /* black */
	--practice-page-left-right-btn-border-hover: #374151; /* slate-700 */
	--practice-list-title: #2563eb; /* blue-600 */
	--practice-list-text: #475569; /* slate-600 */
	--practice-download-btn-bg: #60a5fa; /* blue-400 */
	--practice-download-btn-hover-bg: #3b82f6; /* blue-500 */
	--practice-download-btn-text: #ffffff; /* white */
	--practice-download-btn-text-hover: #ffffff; /* white */
	--practice-carousel-border-hover: #2563eb; /* blue-600 */
	/* Blog Pages */
	--blog-home-page-section-border: #d1d5db; /* gray-300 */
	/* Other Page Styles */
	--glossary-word: #2563eb; /* blue-600 */
	--site-map-heading: #2563eb; /* blue-600 */
	--contact-input-bg: #ffffff; /* white */
	--contact-input-hover-bg: #f3f4f6; /* gray-100 */
	--contact-input-border: #d1d5db; /* gray-300 */
	--contact-input-text: #000000; /* black */
	--contact-input-placeholder: #9ca3af; /* gray-400 */
	--contact-input-focus-border: #2563eb; /* blue-600 */
	--contact-btn-bg: #60a5fa; /* blue-400 */
	--contact-btn-hover-bg: #3b82f6; /* blue-500 */
	--contact-btn-text: #ffffff; /* white */
	--contact-btn-text-hover: #ffffff; /* white */
	--contact-btn-border: transparent; /* transparent */
	--contact-btn-border-hover: transparent; /* transparent */
	/* Craps Simulator Styles */
	--bankroll-display-bg: #f3f4f6; /* base-200 */
	--bankroll-display-text: #000000; /* black */
	--rail-display-bg: #f3f4f6; /* base-200 */
	--rail-display-text: #000000; /* black */
	--layout-display-bg: #f3f4f6; /* base-200 */
	--layout-display-text: #000000; /* black */
	--roll-btn-bg: #60a5fa; /* blue-400 */
	--roll-btn-hover-bg: #3b82f6; /* blue-500 */
	--roll-btn-active-bg: #3b82f6; /* blue-500 */
	--roll-btn-text: #ffffff; /* white */
	--roll-btn-text-hover: #ffffff; /* white */
	--guide-container-bg: rgba(255, 255, 255, 0.8); /* 50% transparency */
	--game-popup-bg: #f3f4f6; /* base-200 */
	--game-popup-border: #d1d5db; /* gray-300 */

	/* ---- DARK MODE COLORS ---- */
	/* Base Colors */
	--dm-bg-color: #1f2937; /* gray-800 */
	--dm-text-color: #d1d5db; /* gray-300 */
	--dm-page-section-title: #60a5fa; /* blue-400 */
	--dm-article-h1: #94a3b8; /* slate-400 */
	--dm-article-h2: #94a3b8; /* slate-400 */
	--dm-article-h3: #94a3b8; /* slate-400 */
	--dm-ul-h4: #60a5fa; /* blue-400 */
	--dm-ul-li: #d1d5db; /* gray-300 */
	--dm-ul-li-span: #94a3b8; /* slate-400 */
	/* Elements */
	--dm-divider: #facc15; /* yellow-400 */
	--dm-hyperlink: #60a5fa; /* blue-400 */
	--dm-hyperlink-hover: #1d4ed8; /* blue-700 */
	--dm-quote: #facc15; /* yellow-400 */
	--dm-bookmark: #fb923c; /* orange-400 */
	--dm-bookmark-popup-bg: #1f2937; /* gray-800 */
	--dm-bookmark-popup-border: #f87171; /* red-400 */
	--dm-bookmark-popup-text: #f87171; /* red-400 */
	/* Home Page */
	--dm-home-page-text: #94a3b8; /* slate-400 */
	--dm-hero-bg: #000000; /* black */
	--dm-home-section-bg: #0c0a09; /* stone-950 */
	--dm-home-section-btn-bg: #6d28d9; /* violet-700 */
	--dm-home-section-btn-hover-bg: #4c1d95; /* violet-950 */
	--dm-home-section-btn-text: #fff; /* white */
	/* Navigation */
	--dm-top-nav-bg: #030712; /* gray-950 */
	--dm-top-nav-profile-menu-bg: #374151; /* gray-700 */
	--dm-left-nav-bg-color: #111827; /* gray-900 */
	--dm-left-nav-main-menu-text: #f3f4f6; /* gray-100 */
	--dm-left-nav-main-menu-text-hover: #60a5fa; /* blue-400 */
	--dm-left-nav-header-text: #e2e8f0; /* slate-200 */
	--dm-left-nav-header-text-hover: #312e81; /* indigo-900 */
	--dm-left-nav-menu-left-border: #1e293b; /* slate-800 */
	--dm-left-nav-menu-text: #94a3b8; /* slate-400 */
	--dm-left-nav-menu-text-hover: #cbd5e1; /* slate-300 */
	--dm-left-nav-menu-vertical-bars-hover: #64748b; /* slate-500 */
	--dm-left-nav-more-menu-text: #94a3b8; /* slate-400 */
	--dm-left-nav-more-menu-text-hover: #cbd5e1; /* slate-300 */
	--dm-left-nav-more-menu-border: transparent; /* transparent */
	--dm-left-nav-more-menu-border-hover: #cbd5e1; /* slate-300 */
	/* Navbar Drawer */
	--dm-nav-drawer-bg: #111827; /* gray-900 */
	--dm-nav-drawer-main-menu-text: #f3f4f6; /* gray-100 */
	--dm-nav-drawer-section-title: #d1d5db; /* gray-300 */
	--dm-nav-drawer-section-link: #60a5fa; /* blue-400 */
	--dm-nav-drawer-practice-main-title: #f3f4f6; /* gray-100 */
	--dm-nav-drawer-practice-title: #d1d5db; /* gray-300 */
	--dm-nav-drawer-practice-link: #60a5fa; /* blue-400 */
	/* Prev/Next */
	--dm-prev-next-bg: #1f2937; /* gray-800 */
	--dm-prev-next-bg-hover: #374151; /* gray-700 */
	--dm-prev-next-border: #374151; /* gray-700 */
	--dm-prev-next-border-hover: #1e293b; /* slate-800 */
	--dm-prev-next-text: #9ca3af; /* gray-400 */
	--dm-prev-next-text-hover: #ffffff; /* white */
	/* Search */
	--dm-search-bg-color: #374151; /* gray-700 */
	--dm-search-text-color: #d1d5db; /* gray-300 */
	--dm-search-placeholder: #6b7280; /* gray-500 */
	--dm-search-border-color: #334155; /* slate-700 */
	/* Learn Craps Home Pages */
	--dm-learn-home-page-header-bg: #111827; /* gray-900 */
	--dm-learn-home-page-header-btn-bg: #1e3a8a; /* blue-900 */
	--dm-learn-home-page-header-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-learn-home-page-header-btn-text: #d1d5db; /* gray-300 */
	--dm-learn-home-page-header-btn-text-hover: #ffffff; /* white */
	--dm-learn-home-page-section-bg: #111827; /* gray-900 */
	--dm-learn-home-page-section-title: #f3f4f6; /* gray-100 */
	--dm-learn-home-page-section-title-hover: #60a5fa; /* blue-400 */
	/* Page Menu Boxes */
	--dm-page-menu-box-bg: #111827; /* gray-900 */
	--dm-page-menu-link-bg-hover: #374151; /* gray-700 */
	/* Subscribe Section */
	--dm-sub-input-border: #94a3b8; /* slate-400 */
	--dm-subscribe-btn-bg: #1e3a8a; /* blue-900 */
	--dm-subscribe-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-subscribe-btn-outline: #1e3a8a; /* blue-900 */
	--dm-subscribe-btn-outline-hover: #2563eb; /* blue-600 */
	--dm-subscribe-btn-text: #d1d5db; /* gray-300 */
	--dm-subscribe-btn-text-hover: #ffffff; /* white */
	/* LHTPC Section */
	--dm-image-cover: #000000; /* black */
	/* Craps Home Page */
	--dm-craps-home-page-title: #60a5fa; /* blue-400 */
	--dm-craps-home-page-title-two: #94a3b8; /* slate-400 */
	--dm-craps-home-page-section-title: #60a5fa; /* blue-400 */
	--dm-craps-home-page-section-tag: #93c5fd; /* blue-300 */
	--dm-craps-home-page-section-link: #60a5fa; /* blue-400 */
	--dm-craps-home-page-section-link-hover: #1e3a8a; /* blue-900 */
	--dm-craps-home-page-sub-section-bg-hover: #1f2937; /* gray-800 */
	--dm-craps-home-page-sub-section-text: #60a5fa; /* blue-400 */
	--dm-craps-home-page-sub-section-link: #fdba74; /* orange-300 */
	/* Content Tables */
	--dm-content-table-bg: #111827; /* gray-900 */
	--dm-content-table-border: #374151; /* gray-700 */
	--dm-content-table-text: #d1d5db; /* gray-300 */
	/* Calculator Styles */
	--dm-calculator-title: #E5E7EB; /* gray-200 */
	--dm-calc-input-label: #9ca3af; /* gray-400 */
	--dm-calc-input-bg: #0f172a; /* slate-900 */
	--dm-calc-input-hover-bg: #020617; /* slate-950 */
	--dm-calc-input-text: white; /* white */
	--dm-calc-input-border: #374151; /* gray-700 */
	--dm-calc-input-placeholder: #6b7280; /* gray-500 */
	--dm-calc-input-focus-border: #60a5fa; /* blue-400 */
	--dm-calculator-btn-bg: #1e3a8a; /* blue-900 */
	--dm-calculator-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-calculator-btn-text: #d1d5db; /* gray-300 */
	--dm-calculator-btn-text-hover: #ffffff; /* white */
	--dm-calculator-error-text: #f87171; /* red-400 */
	--dm-calculator-success-text: #34d399; /* green-500 */
	--dm-calculator-roll-btn-bg: #1e3a8a; /* blue-900 */
	--dm-calculator-roll-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-calculator-roll-btn-active-bg: #1d4ed8; /* blue-700 */
	--dm-calculator-roll-btn-text: #ffffff; /* white */
	--dm-calculator-roll-btn-text-hover: #ffffff; /* white */
	--dm-calculator-roll-btn-text-active: #ffffff; /* white */
	--dm-calculator-roll-btn-border: #1e3a8a; /* blue-900 */
	--dm-calculator-roll-btn-border-hover: #1d4ed8; /* blue-700 */
	--dm-calculator-roll-btn-border-active: #1d4ed8; /* blue-700 */
	/* Home Pages Heading Styles */
	--dm-home-page-heading-bg: #111827; /* gray-900 */
	--dm-home-page-heading-text: #f3f4f6; /* gray-100 */
	--dm-home-page-body-bg-1: #374151; /* gray-700 */
	--dm-home-page-body-bg-2: #1f2937; /* gray-800 */
	--dm-home-page-body-bg-3: #374151; /* gray-700 */
	/* Practice Home Page */
	--dm-practice-view-btn-bg: #1e3a8a; /* blue-900 */
	--dm-practice-view-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-practice-view-btn-text: #d1d5db; /* gray-300 */
	--dm-practice-view-btn-text-hover: #ffffff; /* white */
	--dm-practice-view-btn-border: #1e3a8a; /* blue-900 */
	--dm-practice-view-btn-border-hover: #1d4ed8; /* blue-700 */
	--dm-practice-dwnld-btn-bg: #1e3a8a; /* blue-900 */
	--dm-practice-dwnld-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-practice-dwnld-btn-text: #d1d5db; /* gray-300 */
	--dm-practice-dwnld-btn-text-hover: #ffffff; /* white */
	--dm-practice-dwnld-btn-border: #1e3a8a; /* blue-900 */
	--dm-practice-dwnld-btn-border-hover: #1d4ed8; /* blue-700 */
	/* Practice Pages */
	--dm-practice-page-left-right-btn-bg: #1f2937; /* gray-800 */
	--dm-practice-page-left-right-btn-hover-bg: #374151; /* gray-700 */
	--dm-practice-page-left-right-btn-text: #d1d5db; /* gray-300 */
	--dm-practice-page-left-right-btn-text-hover: #d1d5db; /* gray-300 */
	--dm-practice-page-left-right-btn-border: #white; /* white */
	--dm-practice-page-left-right-btn-border-hover: #374151; /* gray-700 */
	--dm-practice-list-title: #60a5fa; /* blue-400 */
	--dm-practice-list-text: #94a3b8; /* slate-400 */
	--dm-practice-download-btn-bg: #1e3a8a; /* blue-900 */
	--dm-practice-download-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-practice-carousel-border-hover: #fb923c; /* orange-400 */
	/* Blog Pages */
	--dm-blog-home-page-section-border: #374151; /* gray-700 */
	/* Other Page Styles */
	--dm-glossary-word: #60a5fa; /* blue-400 */
	--dm-site-map-heading: #60a5fa; /* blue-400 */
	--dm-contact-input-bg: #1e293b; /* slate-800 */
	--dm-contact-input-hover-bg: #0f172a; /* slate-900 */
	--dm-contact-input-border: #374151; /* gray-700 */
	--dm-contact-input-text: #d1d5db; /* gray-300 */
	--dm-contact-input-placeholder: #6b7280; /* gray-500 */
	--dm-contact-input-focus-border: #60a5fa; /* blue-400 */
	--dm-contact-btn-bg: #1e3a8a; /* blue-900 */
	--dm-contact-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-contact-btn-text: #d1d5db; /* gray-300 */
	--dm-contact-btn-text-hover: #ffffff; /* white */
	--dm-contact-btn-border: transparent; /* transparent */
	--dm-contact-btn-border-hover: transparent; /* transparent */
	/* Craps Simulator Styles */
	--dm-bankroll-display-bg: #111827; /* gray-900 */
	--dm-bankroll-display-text: #d1d5db; /* gray-300 */
	--dm-rail-display-bg: #111827; /* gray-900 */
	--dm-rail-display-text: #d1d5db; /* gray-300 */
	--dm-layout-display-bg: #111827; /* gray-900 */
	--dm-layout-display-text: #d1d5db; /* gray-300 */
	--dm-roll-btn-bg: #1e3a8a; /* blue-900 */
	--dm-roll-btn-hover-bg: #1d4ed8; /* blue-700 */
	--dm-roll-btn-active-bg: #1d4ed8; /* blue-700 */
	--dm-roll-btn-text: #d1d5db; /* gray-300 */
	--dm-roll-btn-text-hover: #ffffff; /* white */
	--dm-guide-container-bg: rgba(31, 41, 55, 0.8); /* 50% transparency */
	--dm-game-popup-bg: #111827; /* gray-900 */
	--dm-game-popup-border: #374151; /* gray-700 */
}

/* Main Styles */
.body {
	background-color: var(--bg-color);
	color: var(--text-color);
}
.page-section-title {
	color: var(--page-section-title);
}
.article-h1 {
	color: var(--article-h1);
}
.article-h2 {
	color: var(--article-h2);
}
.article-h3 {
	color: var(--article-h3);
}
.ul-h4 {
	color: var(--ul-h4);
}
.ul-li {
	color: var(--ul-li);
}
.ul-li-span {
	color: var(--ul-li-span);
}
/* Elements */
.divider {
	background-color: var(--divider);
}
.hyperlink {
	color: var(--hyperlink);
}
.hyperlink:hover {
	color: var(--hyperlink-hover);
}
.quote {
	color: var(--quote);
}
.bookmark {
	color: var(--bookmark);
}
.bookmark-popup {
	background-color: var(--bookmark-popup-bg);
	border-color: var(--bookmark-popup-border);
	color: var(--bookmark-popup-text);
}
/* Home Page Styles */
.home-page-text {
	color: var(--home-page-text);
}
.hero-bg {
	background-color: var(--hero-bg);
}
.home-section-bg {
	background-color: var(--home-section-bg);
}
.home-section-btn {
	background-color: var(--home-section-btn-bg);
	color: var(--home-section-btn-text);
}
.home-section-btn:hover {
	background-color: var(--home-section-btn-hover-bg);
}
/* Nav Styles */
.top-nav-bg {
	background-color: var(--top-nav-bg);
}
.left-nav-bg {
	background-color: var(--left-nav-bg-color);
}
.left-nav-main-menu-text {
	color: var(--left-nav-main-menu-text);
}
.left-nav-main-menu-text:hover {
	color: var(--left-nav-main-menu-text-hover);
}
.left-nav-header-text {
	color: var(--left-nav-header-text);
}
.left-nav-header-text:hover {
	color: var(--left-nav-header-text-hover);
}
.left-nav-practice-header-text {
	color: var(--left-nav-header-text);
}
.left-nav-menu-left-border {
	border-color: var(--left-nav-menu-left-border);
}
.left-nav-menu-text {
	color: var(--left-nav-menu-text);
	border-color: var(--left-nav-menu-vertical-bars);
}
.left-nav-menu-text:hover {
	color: var(--left-nav-menu-text-hover);
	border-color: var(--left-nav-menu-vertical-bars-hover);
}
.left-nav-more-menu {
	color: var(--left-nav-more-menu-text);
	border-color: var(--left-nav-more-menu-border);
}
.left-nav-more-menu:hover {
	color: var(--left-nav-more-menu-text-hover);
	border-color: var(--left-nav-more-menu-border-hover);
}
/* Navbar Drawer */
.nav-drawer {
	background-color: var(--nav-drawer-bg);
}
.nav-drawer-main-menu-text {
	color: var(--nav-drawer-main-menu-text);
}
.nav-drawer-section-title {
	color: var(--nav-drawer-section-title);
}
.nav-drawer-section-link {
	color: var(--nav-drawer-section-link);
}
.nav-drawer-practice-main-title {
	color: var(--nav-drawer-practice-main-title);
}
.nav-drawer-practice-title {
	color: var(--nav-drawer-practice-title);
}
.nav-drawer-practice-link {
	color: var(--nav-drawer-practice-link);
}
/* Prev/Next Styles */
.prev-next-btn {
	background-color: var(--prev-next-bg);
	color: var(--prev-next-text);
	border-color: var(--prev-next-border);
}
.prev-next-btn:hover {
	background-color: var(--prev-next-bg-hover);
	border-color: var(--prev-next-border-hover);
	color: var(--prev-next-text-hover);
}
/* Theme Slider Styles */
.theme-slider__text {
	color: var(--text-color);
}
.theme-slider__slider {
	background-color: var(--slider-bg-color);
}
.theme-slider__slider::before {
	background-color: var(--theme-slider-thumb-color);
}
.theme-slider__input:checked + .theme-slider__label .theme-slider__slider {
	background-color: var(--slider-bg-color);
}
/* Search Styles */
.search {
	background-color: var(--search-bg);
	color: var(--search-text);
	border-color: var(--search-border-color);
}
.search::placeholder {
	color: var(--search-placeholder);
}
.profile-menu {
	background-color: var(--top-nav-profile-menu-bg);
}
/* Footer Styles */
.footer {
	background-color: var(--bg-color);
	color: var(--text-color);
}
/* Learn Craps Home Page Styles */
.learn-home-page-header {
	background-color: var(--learn-home-page-header-bg);
	color: var(--text-color);
}
.learn-home-page-header-btn {
	background-color: var(--learn-home-page-header-btn-bg);
	color: var(--learn-home-page-header-btn-text);
}
.learn-home-page-header-btn:hover {
	background-color: var(--learn-home-page-header-btn-hover-bg);
	color: var(--learn-home-page-header-btn-text-hover);
}
.learn-home-page-section {
	background-color: var(--learn-home-page-section-bg);
	color: var(--text-color);
}
.learn-home-page--section-title {
	color: var(--learn-home-page-section-title);
}
.learn-home-page-section-title:hover {
	color: var(--learn-home-page-section-title-hover);
}
/* Page Menu Boxes */
.page-menu-box {
	background-color: var(--page-menu-box-bg);
}
.page-menu-link:hover {
	background-color: var(--page-menu-link-bg-hover);
}
/* Subscribe Section */
.sub-input {
	border-color: var(--sub-input-border);
}
.subscribe-btn {
	background-color: var(--subscribe-btn-bg);
	color: var(--subscribe-btn-text);
	border-color: var(--subscribe-btn-outline);
}
.subscribe-btn:hover {
	background-color: var(--subscribe-btn-hover-bg);
	color: var(--subscribe-btn-text-hover);
	border-color: var(--subscribe-btn-outline-hover);
}
.image-cover {
	background-color: var(--image-cover);
}
/* Craps Home Page Styles*/
.craps-home-page-title {
	color: var(--craps-home-page-title);
}
.craps-home-page-title-two {
	color: var(--craps-home-page-title-two);
}
.craps-home-page-section-title {
	color: var(--craps-home-page-section-title);
}
.craps-home-page-section-tag {
	color: var(--craps-home-page-section-tag);
}
.craps-home-page-section-link {
	color: var(--craps-home-page-section-link);
}
.craps-home-page-section-link:hover {
	color: var(--craps-home-page-section-link-hover);
}
.craps-home-page-sub-section {
	background-color: var(--craps-home-page-sub-section-bg);
}
.craps-home-page-sub-section:hover {
	background-color: var(--craps-home-page-sub-section-bg-hover);
}
.craps-home-page-sub-section-text {
	color: var(--craps-home-page-sub-section-text);
}
.craps-home-page-sub-section-link {
	color: var(--craps-home-page-sub-section-link);
}
/* Content Tables */
.content-table {
	background-color: var(--content-table-bg);
	color: var(--content-table-text);
}
.content-table-border {
	border-color: var(--content-table-border);
}
/* Calculator Styles */
.calculator-title {
	color: var(--calculator-title);
}
.calc-input-label {
	color: var(--calc-input-label);
}
.calculator-input {
	background-color: var(--calc-input-bg);
	color: var(--calc-input-text);
	border-color: var(--calc-input-border);
}
.calculator-input:hover {
	background-color: var(--calc-input-hover-bg);
}
.calculator-input::placeholder {
	color: var(--calc-input-placeholder);
}
.calculator-input:focus {
	border-color: var(--calc-input-focus-border);
}
.calculator-btn {
	background-color: var(--calculator-btn-bg);
	color: var(--calculator-btn-text);
}
.calculator-btn:hover {
	background-color: var(--calculator-btn-hover-bg);
	color: var(--calculator-btn-text-hover);
}
.calculator-roll-btn {
	background-color: var(--calculator-roll-btn-bg);
	color: var(--calculator-roll-btn-text);
	border-color: var(--calculator-roll-btn-border);
}
.calculator-roll-btn:hover {
	background-color: var(--calculator-roll-btn-hover-bg);
	color: var(--calculator-roll-btn-text-hover);
	border-color: var(--calculator-roll-btn-border-hover);
}
.calculator-roll-btn-active {
	background-color: var(--calculator-roll-btn-active-bg);
	color: var(--calculator-roll-btn-text-active);
	border-color: var(--calculator-roll-btn-border-active);
}
/* Site Home Pages Heading Styles */
.home-page-heading {
	background-color: var(--home-page-heading-bg);
	color: var(--home-page-heading-text);
}
.home-page-body-bg-1 {
	background-color: var(--home-page-body-bg-1);
}
.home-page-body-bg-2 {
	background-color: var(--home-page-body-bg-2);
}
.home-page-body-bg-3 {
	background-color: var(--home-page-body-bg-3);
}
/* Practice Home Page */
.practice-view-btn {
	background-color: var(--practice-view-btn-bg);
	color: var(--practice-view-btn-text);
	border-color: var(--practice-view-btn-border);
}
.practice-view-btn:hover {
	background-color: var(--practice-view-btn-hover-bg);
	border-color: var(--practice-view-btn-border-hover);
	color: var(--practice-view-btn-text-hover);
}
.practice-dwnld-btn {
	background-color: var(--practice-dwnld-btn-bg);
	color: var(--practice-dwnld-btn-text);
	border-color: var(--practice-dwnld-btn-border);
}
.practice-dwnld-btn:hover {
	background-color: var(--practice-dwnld-btn-hover-bg);
	border-color: var(--practice-dwnld-btn-border-hover);
	color: var(--practice-dwnld-btn-text-hover);
}
/* Practice Pages */
.practice-page-left-right-btn {
	background-color: var(--practice-page-left-right-btn-bg);
	color: var(--practice-page-left-right-btn-text);
	border-color: var(--practice-page-left-right-btn-border);
}
.practice-page-left-right-btn:hover {
	color: var(--practice-page-left-right-btn-text-hover);
	background-color: var(--practice-page-left-right-btn-hover-bg);
	border-color: var(--practice-page-left-right-btn-border-hover);
}
.practice-list-title {
	color: var(--practice-list-title);
}
.practice-list-text {
	color: var(--practice-list-text);
}
.practice-download-btn {
	background-color: var(--practice-download-btn-bg);
	color: var(--practice-download-btn-text);
}
.practice-download-btn:hover {
	background-color: var(--practice-download-btn-hover-bg);
	color: var(--practice-download-btn-text-hover);
}
.practice-carousel-border:hover {
	border-color: var(--practice-carousel-border-hover);
}
/* Blog Pages */
.blog-home-page-section-border {
	border-color: var(--blog-home-page-section-border);
}
/* Other Page Styles */
.glossary-word {
	color: var(--glossary-word);
}
.site-map-heading {
	color: var(--site-map-heading);
}
.contact-input {
	background-color: var(--contact-input-bg);
	color: var(--contact-input-text);
	border-color: var(--contact-input-border);
}
.contact-input:hover {
	background-color: var(--contact-input-hover-bg);
}
.contact-input::placeholder {
	color: var(--contact-input-placeholder);
}
.contact-input:focus {
	border-color: var(--contact-input-focus-border);
}
.contact-btn {
	background-color: var(--contact-btn-bg);
	color: var(--contact-btn-text);
	border-color: var(--contact-btn-border);
}
.contact-btn:hover {
	background-color: var(--contact-btn-hover-bg);
	color: var(--contact-btn-text-hover);
	border-color: var(--contact-btn-border-hover);
}
/* Craps Simulator Styles */
.bankroll-display {
	background-color: var(--bankroll-display-bg);
	color: var(--bankroll-display-text);
}
.rail-display {
	background-color: var(--rail-display-bg);
	color: var(--rail-display-text);
}
.layout-display {
	background-color: var(--layout-display-bg);
	color: var(--layout-display-text);
}
.roll-btn {
	background-color: var(--roll-btn-bg);
	color: var(--roll-btn-text);
}
.roll-btn:hover {
	background-color: var(--roll-btn-hover-bg);
	color: var(--roll-btn-text-hover);
}
.roll-btn:active {
	background-color: var(--roll-btn-active-bg);
}
.guide-container {
	background-color: var(--guide-container-bg);
}
.game-popup {
	background-color: var(--game-popup-bg);
	border-color: var(--game-popup-border);
}

/* Dark mode styles */
[data-theme='dark'] {
	/* Base Colors */
	--text-color: var(--dm-text-color);
	--bg-color: var(--dm-bg-color);
	--page-section-title: var(--dm-page-section-title);
	--article-h1: var(--dm-article-h1);
	--article-h2: var(--dm-article-h2);
	--article-h3: var(--dm-article-h3);
	--ul-h4: var(--dm-ul-h4);
	--ul-li: var(--dm-ul-li);
	--ul-li-span: var(--dm-ul-li-span);
	/* Elements */
	--divider: var(--dm-divider);
	--hyperlink: var(--dm-hyperlink);
	--hyperlink-hover: var(--dm-hyperlink-hover);
	--quote: var(--dm-quote);
	--bookmark: var(--dm-bookmark);
	--bookmark-popup-bg: var(--dm-bookmark-popup-bg);
	--bookmark-popup-border: var(--dm-bookmark-popup-border);
	--bookmark-popup-text: var(--dm-bookmark-popup-text);
	/* Home Page */
	--home-page-text: var(--dm-home-page-text);
	--hero-bg: var(--dm-hero-bg);
	--home-section-bg: var(--dm-home-section-bg);
	--home-section-btn-bg: var(--dm-home-section-btn-bg);
	--home-section-btn-hover-bg: var(--dm-home-section-btn-hover-bg);
	--home-section-btn-text: var(--dm-home-section-btn-text);
	/* Navigation */
	--top-nav-bg: var(--dm-top-nav-bg);
	--top-nav-profile-menu-bg: var(--dm-top-nav-profile-menu-bg);
	--left-nav-bg-color: var(--dm-left-nav-bg-color);
	--left-nav-main-menu-text: var(--dm-left-nav-main-menu-text);
	--left-nav-main-menu-text-hover: var(--dm-left-nav-main-menu-text-hover);
	--left-nav-header-text: var(--dm-left-nav-header-text);
	--left-nav-header-text-hover: var(--dm-left-nav-header-text-hover);
	--left-nav-menu-left-border: var(--dm-left-nav-menu-left-border);
	--left-nav-menu-text: var(--dm-left-nav-menu-text);
	--left-nav-menu-text-hover: var(--dm-left-nav-menu-text-hover);
	--left-nav-menu-vertical-bars-hover: var(--dm-left-nav-menu-vertical-bars-hover);
	--left-nav-more-menu-text: var(--dm-left-nav-more-menu-text);
	--left-nav-more-menu-text-hover: var(--dm-left-nav-more-menu-text-hover);
	--left-nav-more-menu-border: var(--dm-left-nav-more-menu-border);
	--left-nav-more-menu-border-hover: var(--dm-left-nav-more-menu-border-hover);
	/* Navbar Drawer */
	--nav-drawer-bg: var(--dm-nav-drawer-bg);
	--nav-drawer-main-menu-text: var(--dm-nav-drawer-main-menu-text);
	--nav-drawer-section-title: var(--dm-nav-drawer-section-title);
	--nav-drawer-section-link: var(--dm-nav-drawer-section-link);
	--nav-drawer-practice-main-title: var(--dm-nav-drawer-practice-main-title);
	--nav-drawer-practice-title: var(--dm-nav-drawer-practice-title);
	--nav-drawer-practice-link: var(--dm-nav-drawer-practice-link);
	/* Theme Slider */
	--slider-bg-color: #666;
	--theme-slider-thumb-color: #fff;
	/* Prev/Next */
	--prev-next-bg: var(--dm-prev-next-bg);
	--prev-next-bg-hover: var(--dm-prev-next-bg-hover);
	--prev-next-border: var(--dm-prev-next-border);
	--prev-next-border-hover: var(--dm-prev-next-border-hover);
	--prev-next-text: var(--dm-prev-next-text);
	--prev-next-text-hover: var(--dm-prev-next-text-hover);
	/* Search */
	--search-bg: var(--dm-search-bg);
	--search-text: var(--dm-search-text);
	--search-placeholder: var(--dm-search-placeholder);
	--search-border-color: var(--dm-search-border-color);
	/* Learn Craps Home Pages */
	--learn-home-page-header-bg: var(--dm-learn-home-page-header-bg);
	--learn-home-page-header-btn-bg: var(--dm-learn-home-page-header-btn-bg);
	--learn-home-page-header-btn-hover-bg: var(--dm-learn-home-page-header-btn-hover-bg);
	--learn-home-page-header-btn-text: var(--dm-learn-home-page-header-btn-text);
	--learn-home-page-header-btn-text-hover: var(--dm-learn-home-page-header-btn-text-hover);
	--learn-home-page-section-bg: var(--dm-learn-home-page-section-bg);
	--learn-home-page-section-title: var(--dm-learn-home-page-section-title);
	--learn-home-page-section-title-hover: var(--dm-learn-home-page-section-title-hover);
	/* Page Menu Boxes */
	--page-menu-box-bg: var(--dm-page-menu-box-bg);
	--page-menu-link-bg-hover: var(--dm-page-menu-link-bg-hover);
	/* Subscribe Section */
	--sub-input-border: var(--dm-sub-input-border);
	--subscribe-btn-bg: var(--dm-subscribe-btn-bg);
	--subscribe-btn-hover-bg: var(--dm-subscribe-btn-hover-bg);
	--subscribe-btn-outline: var(--dm-subscribe-btn-outline);
	--subscribe-btn-outline-hover: var(--dm-subscribe-btn-outline-hover);
	--subscribe-btn-text: var(--dm-subscribe-btn-text);
	--subscribe-btn-text-hover: var(--dm-subscribe-btn-text-hover);
	/* LHTPC Section */
	--image-cover: var(--dm-image-cover);
	/* Craps Home Page */
	--craps-home-page-title: var(--dm-craps-home-page-title);
	--craps-home-page-title-two: var(--dm-craps-home-page-title-two);
	--craps-home-page-section-title: var(--dm-craps-home-page-section-title);
	--craps-home-page-section-tag: var(--dm-craps-home-page-section-tag);
	--craps-home-page-section-link: var(--dm-craps-home-page-section-link);
	--craps-home-page-section-link-hover: var(--dm-craps-home-page-section-link-hover);
	--craps-home-page-sub-section-bg: var(--dm-craps-home-page-sub-section-bg);
	--craps-home-page-sub-section-bg-hover: var(--dm-craps-home-page-sub-section-bg-hover);
	--craps-home-page-sub-section-text: var(--dm-craps-home-page-sub-section-text);
	--craps-home-page-sub-section-link: var(--dm-craps-home-page-sub-section-link);
	/* Content Tables */
	--content-table-bg: var(--dm-content-table-bg);
	--content-table-border: var(--dm-content-table-border);
	--content-table-text: var(--dm-content-table-text);
	/* Calculator Styles */
	--calculator-title: var(--dm-calculator-title);
	--calc-input-label: var(--dm-calc-input-label);
	--calc-input-bg: var(--dm-calc-input-bg);
	--calc-input-hover-bg: var(--dm-calc-input-hover-bg);
	--calc-input-active-bg: var(--dm-calc-input-active-bg);
	--calc-input-text: var(--dm-calc-input-text);
	--calc-input-border: var(--dm-calc-input-border);
	--calc-input-placeholder: var(--dm-calc-input-placeholder);
	--calc-input-focus-border: var(--dm-calc-input-focus-border);
	--calculator-btn-bg: var(--dm-calculator-btn-bg);
	--calculator-btn-hover-bg: var(--dm-calculator-btn-hover-bg);
	--calculator-btn-text: var(--dm-calculator-btn-text);
	--calculator-btn-text-hover: var(--dm-calculator-btn-text-hover);
	--calculator-error-text: var(--dm-calculator-error-text);
	--calculator-success-text: var(--dm-calculator-success-text);
	--calculator-roll-btn-bg: var(--dm-calculator-roll-btn-bg);
	--calculator-roll-btn-hover-bg: var(--dm-calculator-roll-btn-hover-bg);
	--calculator-roll-btn-text: var(--dm-calculator-roll-btn-text);
	/* Site Home Pages Heading Styles */
	--home-page-heading-bg: var(--dm-home-page-heading-bg);
	--home-page-heading-text: var(--dm-home-page-heading-text);
	--home-page-body-bg-1: var(--dm-home-page-body-bg-1);
	--home-page-body-bg-2: var(--dm-home-page-body-bg-2);
	--home-page-body-bg-3: var(--dm-home-page-body-bg-3);
	/* Practice Home Page */
	--practice-view-btn-bg: var(--dm-practice-view-btn-bg);
	--practice-view-btn-hover-bg: var(--dm-practice-view-btn-hover-bg);
	--practice-view-btn-text: var(--dm-practice-view-btn-text);
	--practice-view-btn-text-hover: var(--dm-practice-view-btn-text-hover);
	--practice-view-btn-border: var(--dm-practice-view-btn-border);
	--practice-view-btn-border-hover: var(--dm-practice-view-btn-border-hover);
	--practice-dwnld-btn-bg: var(--dm-practice-dwnld-btn-bg);
	--practice-dwnld-btn-hover-bg: var(--dm-practice-dwnld-btn-hover-bg);
	--practice-dwnld-btn-text: var(--dm-practice-dwnld-btn-text);
	--practice-dwnld-btn-text-hover: var(--dm-practice-dwnld-btn-text-hover);
	--practice-dwnld-btn-border: var(--dm-practice-dwnld-btn-border);
	--practice-dwnld-btn-border-hover: var(--dm-practice-dwnld-btn-border-hover);
	/* Practice Pages */
	--practice-page-left-right-btn-bg: var(--dm-practice-page-left-right-btn-bg);
	--practice-page-left-right-btn-hover-bg: var(--dm-practice-page-left-right-btn-hover-bg);
	--practice-page-left-right-btn-text: var(--dm-practice-page-left-right-btn-text);
	--practice-page-left-right-btn-text-hover: var(--dm-practice-page-left-right-btn-text-hover);
	--practice-page-left-right-btn-border: var(--dm-practice-page-left-right-btn-border);
	--practice-page-left-right-btn-border-hover: var(--dm-practice-page-left-right-btn-border-hover);
	--practice-list-title: var(--dm-practice-list-title);
	--practice-list-text: var(--dm-practice-list-text);
	--practice-download-btn-bg: var(--dm-practice-download-btn-bg);
	--practice-download-btn-hover-bg: var(--dm-practice-download-btn-hover-bg);
	--practice-download-btn-text: var(--dm-practice-download-btn-text);
	--practice-download-btn-text-hover: var(--dm-practice-download-btn-text-hover);
	--practice-carousel-border-hover: var(--dm-practice-carousel-border-hover);
	/* Blog Pages */
	--blog-home-page-section-border: var(--dm-blog-home-page-section-border);
	/* Other Page Styles */
	--glossary-word: var(--dm-glossary-word);
	--site-map-heading: var(--dm-site-map-heading);
	--contact-input-bg: var(--dm-contact-input-bg);
	--contact-input-hover-bg: var(--dm-contact-input-hover-bg);
	--contact-input-border: var(--dm-contact-input-border);
	--contact-input-border-hover: var(--dm-contact-input-border-hover);
	--contact-input-text: var(--dm-contact-input-text);
	--contact-input-placeholder: var(--dm-contact-input-placeholder);
	--contact-input-focus-border: var(--dm-contact-input-focus-border);
	--contact-btn-bg: var(--dm-contact-btn-bg);
	--contact-btn-hover-bg: var(--dm-contact-btn-hover-bg);
	--contact-btn-text: var(--dm-contact-btn-text);
	--contact-btn-text-hover: var(--dm-contact-btn-text-hover);
	/* Craps Simulator Styles */
	--bankroll-display-bg: var(--dm-bankroll-display-bg);
	--bankroll-display-text: var(--dm-bankroll-display-text);
	--rail-display-bg: var(--dm-rail-display-bg);
	--rail-display-text: var(--dm-rail-display-text);
	--layout-display-bg: var(--dm-layout-display-bg);
	--layout-display-text: var(--dm-layout-display-text);
	--roll-btn-bg: var(--dm-roll-btn-bg);
	--roll-btn-hover-bg: var(--dm-roll-btn-hover-bg);
	--roll-btn-active-bg: var(--dm-roll-btn-active-bg);
	--roll-btn-text: var(--dm-roll-btn-text);
	--roll-btn-text-hover: var(--dm-roll-btn-text-hover);
	--guide-container-bg: var(--dm-guide-container-bg);
	--game-popup-bg: var(--dm-game-popup-bg);
	--game-popup-border: var(--dm-game-popup-border);
}
