.game-area {
	width: 100%;
	height: 100%;
	aspect-ratio: 16 / 9;
	background: url('images/craps-simulator/craps-simulator-table-layout.webp') center/cover no-repeat;
	position: relative;
}
.game-element {
	position: absolute;
	transform: translate(-50%, -50%);
}
.layout-display,
.rail-display,
.roll-btn,
.bankroll-display {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.stickwoman {
	background: url('images/craps-simulator/stickwoman.webp') center/cover no-repeat;
}
.guide-container {
	display: flex;
	justify-content: left;
	align-items: center;
	border: 1px solid;
}
.chip-area {
	row-gap: 0.27vw;
}
.chip-container {
	position: relative;
	height: 100%;
}
.chip-image {
	height: 100%;
}
.settings-popup {
	position: absolute;
	width: 75%;
	height: 50%;
	top: 25%;
	left: 12.5%;
	padding: 0.5vw;
	border: 1px solid;
	border-radius: 0.25rem;
}
.enter-fullscreen-btn {
	position: absolute;
	top: 0.25vw;
	right: 0.5vw;
	padding: 1vw;
	font-size: 1vw;
}
.exit-fullscreen-btn {
	position: absolute;
	top: 0.25vw;
	right: 0.5vw;
	padding: 1vw;
	font-size: 1vw;
}
