#game-area-wrapper.mobile-game-active {
	width: 100%;
	height: 100vh; /* Full height of the viewport */
	background-color: #000; /* Black background for letterbox effect */
	overflow: hidden;
	position: relative;
}

#game-area-container.mobile-game-active {
	width: 100%;
	height: 100%;
	display: flex; /* Use flex for centering */
	align-items: center;
	justify-content: center;
	overflow: hidden; /* Hide overflow outside the container */
}
.game-area {
	aspect-ratio: 16 / 9;
	background: url('images/craps-simulator/craps-simulator-table-layout.webp') center/cover no-repeat;
	position: relative;
}
.game-element {
	position: absolute;
	transform: translate(-50%, -50%);
}
.layout-display,
.rail-display,
.roll-btn,
.bankroll-display,
.exit-fullscreen-btn,
.enter-fullscreen-btn {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.stickwoman {
	background: url('images/craps-simulator/stickwoman.webp') center/cover no-repeat;
}
.guide-container {
	display: flex;
	justify-content: left;
	align-items: center;
	border: 1px solid;
}
.chip-area {
	display: flex;
}
.chip-container {
	display: flex;
	position: relative;
	height: 100%;
}
.chip-image {
	height: 100%;
}
.popup {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.popup.scaled {
	visibility: visible;
	opacity: 1;
}
.settings-popup {
	position: absolute;
	border: 1px solid;
}
